<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Le Bon Gland</title>
    {{#each stylesheets}}
    <link rel="stylesheet" href="{{href}}" integrity="{{integrity}}" crossorigin="anonymous">
    {{/each}}

</head>
<body>
    {{{body}}}

    {{#each scripts}}
    <script src="{{src}}" integrity="{{integrity}}" crossorigin="{{anonymous}}"></script>
    {{/each}}
</body>
</html>